
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body 
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #b6b8bb;
}
.container 
{
	border-radius: 20px;
	border-top-left-radius: 225px;
	border-top-right-radius: 225px;
	background: #454749;
	box-shadow: 25px 25px 75px rgba(227, 225, 225, 0.25),
	10px 10px 70px rgba(182, 177, 177, 0.25),
	inset 5px 5px 10px rgba(57, 55, 55, 0.5),
	inset 5px 5px 20px rgba(255,255,255,0.2),
	inset -5px -5px 15px rgba(89, 87, 87, 0.75);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.relogio 
{
	position: relative;
	width: 450px;
	border-radius: 50%;
	height: 450px;
	background: #707173;
	box-shadow: 10px 50px 70px rgba(156, 152, 152, 0.25),
	inset 5px 5px 10px rgba(95, 93, 93, 0.5),
	inset 5px 5px 20px rgba(255,255,255,0.2),
	inset -5px -5px 15px rgba(105, 104, 104, 0.75);
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.relogio::before 
{
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	background: #2f363e;
	border: 3px solid #fff;
	border-radius: 50%;
	z-index: 1000;
}
.relogio span 
{
	position: absolute;
	inset: 20px;
	text-align: center;
	color: #ebeff1;
	transform: rotate(calc(30deg * var(--i)));
}
.relogio span b 
{
	font-size: 2em;
	opacity: 0.25;
	font-weight: 600;
	display: inline-block;
	transform: rotate(calc(-30deg * var(--i)));
}
.circulo 
{
	position: absolute;
	width: 300px;
	height: 300px;
	border: 2px solid rgba(0,0,0,0.25);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	z-index: 10;
}
.circulo i 
{
	position: absolute;
	width: 6px;
	background: #fff;
	height: 50%;
	background: var(--clr);
	opacity: 0.75;
	transform-origin: bottom;
	transform: scaleY(0.5);
}
.circulo:nth-child(1) i
{
	width: 2px;
}
.circulo:nth-child(2) i
{
	width: 4px;
}
.circulo2 
{
	width: 240px;
	height: 240px;
	z-index: 9;
}
.circulo3
{
	width: 180px;
	height: 180px;
	z-index: 8;
}
.circulo::before 
{
	content: '';
	position: absolute;
	top: -8.5px;
	left: 50%;
	transform: translateX(-50%);
	width: 15px;
	height: 15px;
	background: var(--clr);
	border-radius: 50%;
	box-shadow: 0 0 20px var(--clr),
	0 0 60px var(--clr);
}

/* Digital  */
#tempo 
{
	margin-bottom: 40px;
	display: flex;
	padding: 10px 20px;
	font-size: 2em;
	font-weight: 600;
	border-radius: 40px;
	border: 2px solid rgba(0,0,0,0.5);
	box-shadow: inset 5px 5px 10px rgba(0,0,0,0.5),
	inset 5px 5px 20px rgba(255,255,255,0.2),
	inset -5px -5px 15px rgba(0,0,0,0.75);
}
#tempo div 
{
	position: relative;
	width: 60px;
	text-align: center;
	color: var(--clr);
	opacity: 0.75;
}
#tempo div:last-child 
{
	font-size: 0.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
}
#tempo div:nth-child(1):after, 
#tempo div:nth-child(2):after 
{
	content: ':';
	position: absolute;
	right: -4px;
}
#tempo div:nth-child(2):after 
{
	animation: animacao 1s steps(1) infinite;
}
@keyframes animacao 
{
	0% 
	{
		opacity: 1;
	}
	50% 
	{
		opacity: 0;
	}
}